@import "fast-grid/default";
@import "fast-grid/functions";
@import "fast-grid/container";
@import "fast-grid/row";
@import "fast-grid/col";
@import "fast-grid/translate";



/* Container element */
.container {
	width: 100%;
	margin: auto;
	padding: 0 15px;
	@include grid-breakpoint(sm) {
		width: 720px;
		padding: 0;
	}

	@include grid-breakpoint(md) {
		width: 960px;
	}

	@include grid-breakpoint(lg) {
		width: 1140px;
	}

	@include grid-breakpoint(xl) {
		width: 1440px;
	}
}

/* Full width container */
.container--full {
	padding: 0;
}

/* Row element */
.row {
	@include grid-row();
}

/* Columns */
.col_6 {
	@include grid-col(12 12 6);
}