.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
	width: 100%;
	.header__container {
		width: 100%;
		padding: 0 15px;
		@include grid-breakpoint(sm) {
			width: 90%;
			margin: auto;
			padding: 0;
		}
	}
	.header__logo {
		width: 175px;
		height: 40px;
		margin: 20px 0 0 0;
		fill: #fff;
		@include grid-breakpoint(sm) {
			width: 200px;
			height: 45px;
		}
		@include grid-breakpoint(md) {
			width: 228px;
			height: 49px;
			margin: 23px 0 0 0;
		}
		@include grid-breakpoint(lg) {
			width: 268px;
			height: 54px;
		}
	}

	.nav-bar {
		display: none;
		@include grid-breakpoint(md) {
			display: block;
			float: right;
		}
		.nav-bar__topbar {
			margin: 10px 0 0 0;
			text-align: right;
		}
		.nav-bar__lowbar {
			display: flex;
			align-items: center;
			margin: 20px 0 0 0;
			.nav {
				// visibility: visible;
				// transition-delay: 0.2s;
				opacity: 1;
				transition: opacity 0.3s 0.3s;
				&--hidden {
					// visibility: hidden;
					// transition-delay: 0.05s;
					opacity: 0;
					transition: opacity 0.3s;
				}
				.nav__item {
					position: relative;
					display: inline-block;
					margin: 0 45px 0 0;
					&:last-child {
						.item__title {
							&:after {
								display: none;
							}
						}
					}
					.item__title {
						margin-left: -15px;
						padding: 5px 15px 20px 0;
						font-family: 'Graphik', sans-serif;
						font-weight: 700;
						font-size: 0.75rem;
						color: $header-text--default;
						text-transform: uppercase;
						outline: none;
						cursor: pointer;
						&:after {
							content: '';
							position: absolute;
							top: 50%;
							right: 0;
							margin-top: -1px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 4px 4px 0 4px;
							border-color: $header-text--default transparent transparent transparent;
						}
						@include grid-breakpoint(md) {
							transition: color 0.3s;
							&:hover,
							&:focus {
								color: #bebebe;
							}
						}
					}
					.item__title:hover + .item__sub-item,
					.item__title:focus + .item__sub-item {
						transform: scaleY(1);
						transition-delay: 0.4s;
						.sub-item__item {
							&:nth-child(1) {
								.item__link {
									transition-delay: 0.5s;
								}
							}
							&:nth-child(2) {
								.item__link {
									transition-delay: 0.6s;
								}
							}
							&:nth-child(3) {
								.item__link {
									transition-delay: 0.7s;
								}
							}
							&:nth-child(4) {
								.item__link {
									transition-delay: 0.8s;
								}
							}
							&:nth-child(5) {
								.item__link {
									transition-delay: 0.9s;
								}
							}
							&:nth-child(6) {
								.item__link {
									transition-delay: 1s;
								}
							}
							.item__link {
								transform: translateY(0);
							}
						}
					}
					.item__sub-item {
						position: absolute;
						top: 25px;
						left: -15px;
						width: 230px;
						margin: 0;
						padding: 0;
						list-style: none;
						transform-origin: top;
						transform: scaleY(0);
						transition: transform 0.25s;
						transition-delay: 0.3s;
						&:hover,
						&:focus {
							transform: scaleY(1);
								.sub-item__item {
								.item__link {
									transform: translateY(0);
								}
							}
						}
						.sub-item__item {
							padding: 4px 0;
							overflow: hidden;
							transition: transform 0.3s;
							&:hover {
								transform: translateX(5px);
							}
							&:nth-child(1) {
								.item__link {
									transition-delay: 0.25s;
								}
							}
							&:nth-child(2) {
								.item__link {
									transition-delay: 0.2s;
								}
							}
							&:nth-child(3) {
								.item__link {
									transition-delay: 0.15s;
								}
							}
							&:nth-child(4) {
								.item__link {
									transition-delay: 0.1s;
								}
							}
							&:nth-child(5) {
								.item__link {
									transition-delay: 0.05s;
								}
							}
							&:nth-child(6) {
								.item__link {
									transition-delay: 0s;
								}
							}
							.item__link {
								display: block;
								font-family: 'Graphik', sans-serif;
								font-weight: 600;
								font-size: 0.75rem;
								color: $header-text--default;
								line-height: 1.77;
								letter-spacing: 0.075em;
								text-transform: uppercase;
								transform-origin: top;
								transform: translateY(140%);
								transition: transform 0.25s;
							}
						}
					}
				}
			}
			.search-icon {
				width: 12px;
				height: 12px;
				background-image: url('../img/icons/lupa.svg');
				background-size: 12px 12px;
				cursor: pointer;
				z-index: 1;
				&--opened {
					width: 10px;
					height: 10px;
					background-image: url('../img/icons/close.svg');
					background-size: 10px 10px;
				}
			}

			.search-form {
				position: absolute;
				width: 566px;
				height: 30px;
				border-bottom: 1px solid #c9c9c9;
				transform: scaleX(0);
				transform-origin: right;
				transition: transform 0.3s;
				transition-delay: 0;
				&--opened {
					transform: scaleX(1);
					transition-delay: 0.3s;
				}
				.search-form__input {
					width: 100%;
					padding: 6px 0 0 55px;
					border: none;
					font-family: 'Open Sans', sans-serif;
					font-size: 0.75rem;
					color: #c9c9c9;
					background: transparent;
					&:focus {
						outline: none;
					}
					&::-webkit-input-placeholder {
						color:#c9c9c9;
					}
					&::-moz-placeholder {
						color:#c9c9c9;
					}
					&:-moz-placeholder {
						color:#c9c9c9;
					}
					&:-ms-input-placeholder {
						color:#c9c9c9;
					}
				}
				.search-form__btn {
					position: absolute;
					top: 10px;
					left: 10px;
					width: 10px;
					height: 10px;
					background-color: transparent;
					background-image: url('../img/icons/lupa.svg');
					background-size: 12px 10px;
					background-position: center;
					border: none;
					cursor: pointer;
					&:active,
					&:focus {
						outline: none;
					}
				}
			}
		}
	}

	.nav-icon-wrapper {
		float: right;
		width: 32px;
		height: 24px;
		margin: 30px 0 0 0;
		padding: 5px;
		@include grid-breakpoint(md) {
			margin: 0 -5px 0 40px;
			cursor: pointer;
			&:hover {
				.nav__icon {
					&:before {
						transform: translateY(-2px);
					}
					&:after {
						transform: translateY(2px);
					}
				}
			}
		}
	}

	.nav__icon {
		position: relative;
		width: 22px;
		height: 2px;
		margin: 6px 0 0 0;
		background-color: $header-text--default;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $header-text--default;
			transition: transform 0.2s;
		}
		&:before {
			top: -6px;
		}
		&:after {
			bottom: -6px;
		}
		&--adaptive {
			@include grid-breakpoint(md) {
				display: none;
			}
		}
		&--desktop {
			display: none;
			@include grid-breakpoint(md) {
				display: block;
			}
		}
	}

	&.header--fixed,
	&.blue {
		padding: 0 0 10px 0;
		background-color: $accent-color;
		box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 1);
		transform-origin: top;
		transition: transform 0.4s;
		&.opened {
			transform: translate3d(0, 0, 0);
		}
		.nav-bar {
			.nav-bar__lowbar {
				margin: 22px 0 0 0;
				.nav {
					.nav__item {
						.item__title {
							padding: 5px 15px 40px 0;
							color: $header-text--fixed;
							&:after {
								border-color: $header-text--fixed transparent transparent transparent;
							}
						}
						.item__sub-item {
							top: 49px;
							left: -25px;
							padding: 20px 0 20px 10px;
							background-color: #fff;
							box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
							.sub-item__item {
								.item__link {
									color: #6c6c6c;
								}
							}
						}
					}
				}
				.search-icon {
					background-image: url('../img/icons/lupa.svg');
					&--opened {
						background-image: url('../img/icons/close.svg');
					}
				}
				.search-form {
					border-bottom: 1px solid #fff;
					.search-form__input {
						color: #fff;
						&::-webkit-input-placeholder {
							color:#fff;
						}
						&::-moz-placeholder {
							color:#fff;
						}
						&:-moz-placeholder {
							color:#fff;
						}
						&:-ms-input-placeholder {
							color:#fff;
						}
					}
					.search-form__btn {
						background-image: url('../img/icons/lupa.svg');
					}
				}
			}
		}
		.nav-icon-wrapper {
			margin: 22px 0 0 0;
			@include grid-breakpoint(md) {
				margin: 0 -5px 0 40px;
			}
		}
		.nav__icon {
			background-color: $header-text--fixed;
			&:before,
			&:after {
				background-color: $header-text--fixed;
			}
		}
	}

	&.header--fixed {
		position: fixed;
		.header__logo {
			width: 175px;
			height: 40px;
			margin: 15px 0 0 0;
			fill: #fff;
			@include grid-breakpoint(sm) {
				width: 200px;
				height: 45px;
			}
		}
		.nav-bar {
			.nav-bar__topbar {
				display: none;
			}
		}
	}

	&.blue {
		padding: 0 0 10px 0;
		.header__logo {
			width: 175px;
			height: 40px;
			margin: 20px 0 0 0;
			fill: #fff;
			@include grid-breakpoint(sm) {
				width: 200px;
				height: 45px;
			}
			@include grid-breakpoint(md) {
				width: 228px;
				height: 49px;
				margin: 24px 0 0 0;
			}
			@include grid-breakpoint(lg) {
				width: 268px;
				height: 54px;
			}
		}
		.nav-bar {
			.nav-bar__lowbar {
				.nav {
					.nav__item {
						.item__sub-item {
							top: 39px;
						}
					}
				}
			}
		}
		&.header--fixed {
			.header__logo {
				width: 175px;
				height: 40px;
				margin: 15px 0 0 0;
				fill: #fff;
				@include grid-breakpoint(sm) {
					width: 200px;
				}
			}
			.nav-bar {
				.nav-bar__lowbar {
					.nav {
						.nav__item {
							.item__sub-item {
								top: 44px;
							}
						}
					}
				}
			}
		}
	}
}
