.btn {
	display: inline-block;
	padding: 20px 40px;
	border: none;
	border-radius: 28px;
	font-family: 'Graphik', sans-serif;
	font-weight: 600;
	font-size: 0.8125rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	box-shadow: 0px 6px 8px 4px rgba(41, 41, 41, 0.27);
	outline: none;
	@include grid-breakpoint(md) {
		transition: all 0.3s;
		cursor: pointer;
		&:hover,
		&focus {
			box-shadow: none;
		}
	}
	&--large {
		padding: 20px 40px;
		font-size: 0.8125rem;
	}
	&--small {
		padding: 10px 30px;
		font-size: 0.625rem;
	}
	&--accent {
		background-color: $accent-color;
		color: #fff;
	}
	&--light {
		background-color: #fff;
		color: $accent-color;
	}
}

.btn-wrapper {
	text-align: center;
}
