.lang-link {
	margin: 0 5px 0 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 0.6875rem;
	color: #d0d0d0;
	text-transform: uppercase;
	outline: none;
	@include grid-breakpoint(md) {
		transition: color 0.3s;
		&:hover,
		&:focus {
			color: #fff;
		}
	}
	&:last-child {
		margin: 0;
	}
	&--active {
		color: #fff;
	}
	&--adaptive-nav {
		font-size: 1rem;
	}
}
