.mainpage-banner {
	height: 100vh;
}

.video-wrapper__video {
	min-width: 100%;
	min-height: 100%;
}

.mainpage-slider {
	height: 100vh;
	.slide__banner {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #0a153a;
			opacity: 0.7;
		}
	}
	.content {
		padding: 0 15px;
		@include grid-breakpoint(sm) {
			width: 90%;
			margin: auto;
			padding: 0;
		}
		&__title {
			margin: 130px 0 40px 0;
			font-family: 'Graphik', sans-serif;
			font-weight: 700;
			font-size: 2rem;
			color: #fff;
			line-height: (46/32);
			letter-spacing: 0.05em;
			text-transform: uppercase;
			word-wrap: break-word;
			-moz-hyphens: auto;
		    -webkit-hyphens: auto;
		    -ms-hyphens: auto;
			@include grid-breakpoint(sm) {
				margin: 20% 0 55px 0;
				font-size: 2.875rem;
				line-height: (60/46);
			}
		}
	}

	.swiper-pagination {
		&.pagination {
			right: 15px;
			@include grid-breakpoint(sm) {
				right: 5%;
			}
		}
	}
}

/*
 *  About section
 */
.about-facts {
	@include grid-col(12 12 6 5);
	@include grid-offset(null null null 1);
	margin: 10px 0 0 0;
	@include grid-breakpoint(sm) {
		margin-top: 15px;
	}
	.about-facts__item {
		display: flex;
		margin: 0 0 40px 0;
		@include grid-breakpoint(sm) {
			margin: 0 0 50px 0;
		}
		&:last-child {
			margin: 0 0 55px 0;
			@include grid-breakpoint(sm) {
				margin: 0;
			}
		}
		.icon {
			flex: none;
			width: 40px;
			height: 40px;
			@include grid-breakpoint(sm) {
				margin: 0 0 0 40px;
			}
		}
		.text {
			margin: -5px 0 0 30px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 1rem;
			color: $text-primary;
			line-height: (24/16);
			@include grid-breakpoint(sm) {
				font-size: 1.0625rem;
				line-height: (27/17);
			}
		}
	}
}


/*
 * Блок "Что мы предлагаем"
 */
.double-bg {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 70%;
		background-color: $accent-color;
		@include grid-breakpoint(sm) {
			height: 60%;
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 70%;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 30%;
		background-color: $body-bg;
		@include grid-breakpoint(sm) {
			top: 60%;
			height: 40%;
		}
	}
}

/*
 * Карточка с услугой
 */
.offer-card {
	position: relative;
	margin: 0 15px 120px 15px;
	@include grid-breakpoint(md) {
		width: calc(50% - 30px);
		margin: 100px 15px 40px 15px;
		padding: 100px 0 0 0;
		@include grid-breakpoint(md) {
			&.in-view {
				.offer-card__main-link {
					&:after {
						transform: scaleX(0);
					}
				}
				.offer-card__title-wrapper {
					opacity: 1;
					transform: rotate(-90deg) translateX(-100%);
				}
				.offer-card__subtitle-wrapper {
					opacity: 1;
					transform: translateY(-70%);
				}
			}
		}
		&:hover {
			.offer-card__main-link {
				box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.5);
			}
			.offer-card__title-wrapper {
				.offer-card__title {
					transform: translateX(-30%);
				}
			}
			.offer-card__subtitle-wrapper {
				.offer-card__subtitle {
					transform: translateY(150%);
				}
				.offer-card__link {
					opacity: 1;
					transition: opacity 0.3s 0.2s;
				}
			}
			.offer-card__img {
				&:before {
					@include grid-breakpoint(md) {
						background-color: #060e2c;
						opacity: 0.6;
					}
				}
			}
		}

	}
	.offer-card__main-link {
		position: relative;
		display: block;
		cursor: pointer;
		outline: none;
		transition: all 0.3s;
		@include grid-breakpoint(md) {
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				background-color: #ececec;
				transform-origin: right;
				transition: transform 0.6s;
				transition-delay: 0.6s;
			}
		}

		&:focus {
			box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.5);
			.offer-card__title-wrapper {
				.offer-card__title {
					transform: translateX(-10%);
				}
			}
			.offer-card__subtitle-wrapper {
				.offer-card__subtitle {
					transform: translateY(150%);
				}
				.offer-card__link {
					opacity: 1;
					transition: opacity 0.3s 0.2s;
				}
			}
			.offer-card__img {
				&:before {
					@include grid-breakpoint(md) {
						background-color: #060e2c;
						opacity: 0.6;
					}
				}
			}
		}
	}
	.offer-card__title-wrapper {
		position: absolute;
		top: -50px;
		left: 30px;
		z-index: 1;
		opacity: 1;
		transform-origin: left;
		transform: rotate(-90deg) translateX(-120%);
		transition: transform 0.3s, opacity 0.2s;
		transition-delay: 1.1s;
		@include grid-breakpoint(sm) {
			top: -100px;
			left: 110px;
			// transform: rotate(-90deg) translateX(-140%);
			transform: rotate(-90deg) translateX(-123%);
		}
		@include grid-breakpoint(md) {
			opacity: 0;
		}
		.offer-card__title {
			margin: 0;
			font-family: 'Graphik', sans-serif;
			font-weight: 700;
			font-size: 1.875rem;
			color: $text-secondary;
			line-height: (28/24);
			letter-spacing: 0.05em;
			text-transform: uppercase;
			@include grid-breakpoint(sm) {
				font-size: 3rem;
				line-height: (50/48);
			}
			@include grid-breakpoint(md) {
				transition: transform 0.3s;
			}
		}
	}
	.offer-card__subtitle-wrapper {
		position: absolute;
		top: 55px;
		left: 25%;
		z-index: 1;
		@include grid-breakpoint(sm) {
			top: 0;
			left: 35%;
			transform: translateY(-70%);
		}
		@include grid-breakpoint(md) {
			opacity: 0;
			transition: transform 0.4s, opacity 0.3s;
			transition-delay: 1.4s;
		}
		.offer-card__subtitle {
			margin: 0;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 0.875rem;
			color: $text-secondary;
			line-height: (20/14);
			@include grid-breakpoint(sm) {
				padding-right: 20px;
				font-size: 0.9375rem;
				line-height: (24/15);
			}
			@include grid-breakpoint(md) {
				transition: transform 0.2s;
			}
		}
		.offer-card__link {
			margin: 30px 0 0 0;
			@include grid-breakpoint(md) {
				opacity: 0;
				transition: opacity 0.1s;
			}
		}
	}
	.offer-card__img {
		position: relative;
		width: 100%;
		height: 264px;
		@include grid-breakpoint(sm) {
			height: 395px;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;
			background-color: #060e2c;
			opacity: 0.6;
			@include grid-breakpoint(md) {
				background-color: #151515;
				opacity: 0.20;
				transition: opacity 0.3s, background-color 0.3s;
			}
		}
	}
}


/*
 * Блок "Георгафия наших поставок"
 */
.geography-facts {
	@include grid-row();
	@include grid-breakpoint(sm) {
		margin: 100px 0 0 0;
	}
	.geography-facts__item {
		@include grid-col(12 12 4);
		margin: 50px 0 0 0;
		@include grid-breakpoint(sm) {
			margin: 0;
			padding: 0 0 0 65px;
		}
		.item__title {
			margin: 0;
			font-family: 'Graphik', sans-serif;
			font-weight: 600;
			font-size: 1.875rem;
			color: $accent-color;
			line-height: (28/30);
			@include grid-breakpoint(sm) {
				font-size: 2.8125rem;
				line-height: (40/45);
			}
		}
		.item__subtitle {
			margin: 6px 0 0 0;
			font-family: 'Graphik', sans-serif;
			font-weight: 600;
			font-size: 1.0625rem;
			color: $section-title--dark;
			line-height: (30/18);
			letter-spacing: 0.075em;
			text-transform: uppercase;
			@include grid-breakpoint(sm) {
				margin: 11px 0 0 0;
				line-height: (36/18);
			}
			&:after {
				content: '';
				display: block;
				width: 46px;
				height: 6px;
				margin: 12px 0 0 0;
				background-color: $accent-color;
				@include grid-breakpoint(sm) {
					margin: 23px 0 0 0;
				}
			}
		}
	}
}



/*
 * Блок "Наши партнеры"
 */
.partners-row {
	display: none;
	@include grid-breakpoint(sm) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 70px;
		margin-bottom: 70px;
		&:first-child {
			margin-top: 130px;
		}
		.partners-row__img {
			width: 40%;
			filter: grayscale(100%);
			cursor: pointer;
			transition: filter 0.2s;
			@include grid-breakpoint(sm) {
				width: 10%;
			}
			&:hover {
				filter: grayscale(0);
			}
		}
	}
}

.partners-slider {
	display: flex;
	margin-bottom: 60px;
	@include grid-breakpoint(sm) {
		display: none;
	}
	.partners-slide__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 30px 0;
		.partners-slider__img {
			width: 40%;
			margin: 30px 0;
			filter: grayscale(100%);
		}
	}
}
