/*
 *   1. Colors
 */
$accent-color: #486fec;

$text-primary: #6c6c6c;
$text-secondary: #fff;

$section-title--dark: #4c4c4c;
$section-title--light: #fff;

$header-text--default: #fff;
$header-text--fixed: #fff;

$footer-text--primary: #bebebe;
$footer-text--secondary: #fff;

$scrollbar-track-piece: #fbfbfb;
$scrollbar-thumb: #486fec;

// $body-bg: #fbfbfb;
$body-bg: #fff;
$footer-topbar--bg: #0c0c0c;
$footer-lowbar--bg: #0a0a0a;