<div class="navigation-adaptive">
	<div class="navigation-adaptive__close">
		<div class="close__icon">
			<div class="icon__line"></div>
			<div class="icon__line"></div>
		</div>
	</div>
	<div class="navigation-adaptive__container">
		<div class="navigation-adaptive__lang">
			<a class="lang-link lang-link--active lang-link--adaptive-nav" href="#">RU</a>
			<a class="lang-link lang-link--adaptive-nav" href="#">EN</a>
		</div>
		<ul class="navigation-adaptive__nav">
			<li class="nav__item">
				<a class="item__link" href="about.html">о предприятии</a>
				<ul class="navigation-adaptive__sub-nav">
					<li class="sub-nav__item">
						<a class="item__link" href="history.html">история</a>
					</li>
					<li class="sub-nav__item">
						<a class="item__link" href="sertificates.html">политика качества</a>
					</li>
					<li class="sub-nav__item">
						<a class="item__link" href="direction.html">руководство</a>
					</li>
					<li class="sub-nav__item">
						<a class="item__link" href="firm-style.html">фирменный стиль</a>
					</li>
				</ul>
			</li>
			<li class="nav__item">
				<a class="item__link" href="products.html">продукция</a>
				<ul class="navigation-adaptive__sub-nav">
					<li class="sub-nav__item">
						<a class="item__link" href="product-page.html">сахар-песок</a>
					</li>
					<li class="sub-nav__item">
						<a class="item__link" href="product-page.html">сахар прессованный</a>
					</li>
					<li class="sub-nav__item">
						<a class="item__link" href="product-page.html">дефекат</a>
					</li>
					<li class="sub-nav__item">
						<a class="item__link" href="product-page.html">меласса</a>
					</li>
					<li class="sub-nav__item">
						<a class="item__link" href="product-page.html">свекловичный жом</a>
					</li>
					<li class="sub-nav__item">
						<a class="item__link" href="product-page.html">сахарная пудра</a>
					</li>
				</ul>
			</li>
			<li class="nav__item">
				<a class="item__link" href="products.html">информация</a>
				<ul class="navigation-adaptive__sub-nav">
					<li class="sub-nav__item">
						<a class="item__link" href="news.html">новости</a>
					</li>
					<li class="sub-nav__item">
						<a class="item__link" href="work-with-citizens.html">работа с гражданами</a>
					</li>
					<li class="sub-nav__item">
						<a class="item__link" href="excursions.html">экскурсии</a>
					</li>
					<li class="sub-nav__item">
						<a class="item__link" href="administrative-procedures.html">административные процедуры</a>
					</li>
				</ul>
			</li>
			<li class="nav__item">
				<a class="item__link" href="partneram.html">партнерам</a>
			</li>
			<li class="nav__item">
				<a class="item__link" href="stockholders.html">акционерам</a>
			</li>
			<li class="nav__item">
				<a class="item__link" href="tenders.html">тендеры</a>
			</li>
			<li class="nav__item">
				<a class="item__link" href="contacts.html">контакты</a>
			</li>
		</ul>
		<form class="search-form" action="search-results.html">
			<button class="search-form__btn"></button>
			<input class="search-form__input" type="search" name="search" placeholder="Введите текст поиска" required>
		</form>
		<address class="navigation__contacts">
			<div class="contacts__item address">
				<img class="item__icon" src="img/icons/address.svg" alt="Адрес">
				<p class="item__text">223610, Минская обл., г. Слуцк, ул. Головащенко, 6</p>
			</div>
			<div class="contacts__item tel">
				<img class="item__icon" src="img/icons/phone.svg" alt="Телефон">
				<a class="item__link" href="tel:+375290000000">+375 29 000 00 00</a>
			</div>
			<div class="contacts__item tel">
				<img class="item__icon" src="img/icons/phone.svg" alt="Телефон">
				<a class="item__link" href="tel:+375290000000">+375 29 000 00 00</a>
			</div>
			<div class="contacts__item email">
				<img class="item__icon" src="img/icons/email.svg" alt="E-mail">
				<a class="item__link" href="mailto:mail@gmail.com">mail@gmail.com</a>
			</div>
		</address>
	</div>
</div>

<div class="navigation-hidden">
	<div class="navigation-hidden__close">
		<div class="close__icon">
			<div class="icon__line"></div>
			<div class="icon__line"></div>
		</div>
	</div>
	<div class="content">
		<div class="col">
			<address class="navigation__contacts">
				<p class="contacts__title">ОАО «Слуцкий сахарный завод»</p>
				<div class="contacts__item address">
					<img class="item__icon" src="img/icons/address.svg" alt="Адрес">
					<p class="item__text">223610, Минская обл., г. Слуцк, ул. Головащенко, 6</p>
				</div>
				<div class="contacts__item tel">
					<img class="item__icon" src="img/icons/phone.svg" alt="Телефон">
					<a class="item__link" href="tel:+375290000000">+375 29 000 00 00</a>
				</div>
				<div class="contacts__item tel">
					<img class="item__icon" src="img/icons/phone.svg" alt="Телефон">
					<a class="item__link" href="tel:+375290000000">+375 29 000 00 00</a>
				</div>
				<div class="contacts__item email">
					<img class="item__icon" src="img/icons/email.svg" alt="E-mail">
					<a class="item__link" href="mailto:mail@gmail.com">mail@gmail.com</a>
				</div>
			</address>
		</div>
		<div class="col">
			<a class="link" href="stockholders.html">акционерам</a>
			<a class="link" href="tenders.html">тендеры</a>
			<a class="link" href="contacts.html">контакты</a>
		</div>
	</div>
</div>
